html {
    height: 100%;
}

body {
    background-color: #000;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

#top-menu {
    width: 100%;
    height: 44px;
    background-color: rgb(26, 26, 27);
    border-bottom: 1px solid rgb(52, 53, 54);
    z-index: 0;
}

#left-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    background-color: rgb(26, 26, 27);
    margin: 0;
}

#content {
    position: absolute;
    left: 120px;
    top: 0;
    width: 680px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(10, 10, 10);
    border-left: 1px solid rgb(52, 53, 54);
    border-right: 1px solid rgb(52, 53, 54);
}

.centered {
    text-align: center;
}

.pure-button {
    color: #fff;
    background: #1b98f8;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background: rgba(0, 0, 0, 0.75);
    color: #333;
}

.pure-menu-heading {
    color: #333;
    text-transform: initial;
}

.pure-menu-link {
    color: #FFF;
}

.pure-menu-item {
    color: #FFF;
}

.tag {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}

.pure-table {
    width: 100%;
}

.pure-table {
    border: 0;
}

.search-bar {
    width: 600px;
    height: 30px;
    border: 1px solid #DDD;
    position: absolute;
    left: 90px;
    background: rgb(51, 51, 51);
    color: #FFF;
}

.text-content {
    position: absolute;
    left: 40px;
    width: 600px;
    height: 70px;
    border: 1px solid #777;
    border-radius: 4px;
    color: #FFF;
    overflow: hidden;
    background: rgb(51, 51, 51);
    bottom: 20px;
}

.pure-form input:not([type]) {
    border: 1px solid #333;
    box-shadow: none;
}

.pure-form textarea:not([type]) {
    border: 1px solid #333;
    box-shadow: none;
    resize: none;
}

.modal {
    z-index: 2;
    display: none;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal_container {
    background-color: rgb(10, 10, 10);
    padding: 30px;
    width: 470px;
    height: 300px;
    border-radius: 4px;
    border: 1px solid #ddd;
    overflow-y: visible;
    box-sizing: border-box;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #FFF;
  box-sizing: border-box;
}

.modal_content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #555;
}

.jscolor {
    text-indent: -9999em;
    border: 1px solid black;
}

.contextmenu_subject {
    position: absolute;
    width: 120px;
    height: 30px;
    z-index: 1;
    border-radius: 2px;
}

.contextmenu_template {
    position: absolute;
    width: 120px;
    height: 30px;
    z-index: 1;
}

.search {
    margin: 15px 0 0 40px;
    text-indent: 25px;
    width: 580px;
    border: 1px solid rgb(51, 51, 51);
    background: rgb(51, 51, 51);
    color: #FFF;
    outline: 0;
    border-radius: 4px;
    padding: 0.5em;
}

.icon-search {
    position: absolute;
    left: 50px;
    top: 25px;
    fill: #cccccc;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.date-style {
    width: 55px;
    padding: 15px;
}

.date-even {
    background: rgb(40, 40, 40);
}

.date-odd {
    background: rgb(60, 60, 60);
}

.title-style {
    color: #DDD;
    padding: 15px;
    min-height: 50px;
}

.title-odd {
    background: rgb(30, 30, 30)
}


.title-even {
    background: rgb(20, 20, 20)
}

.table-style {
    width: 600px;
    position: absolute;
    background: rgb(51, 51, 51);
    color: #AAA;
    border-collapse: collapse;
    border-radius: 4px;
}

.table-wrapper {
    position: absolute;
    left: 40px;
    width: 600px;
}
