html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #333;
}

a {
    text-decoration: none;
    color: #1b98f8;
}

#left-menu {
    width: 180px;
    height: 100%;
    background-color: #333;
    margin: 0 5px 0 5px;
}

#right-menu {
    width: 160px;
    height: 100%;
    background-color: #333;
    position: absolute;
    left: 180px;
    top: 0;
    border-left: 1px solid #222;

}

#content {
    width: 780px;
    height: 100%;
    background-color: #333;
    position: absolute;
    left: 340px;
    top: 0;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
}

.centered {
    text-align: center;
}

.pure-button {
    color: #fff;
    background: #1b98f8;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background: #222;
    color: #FFF;
}

.pure-menu-heading {
    color: #FFF;
    text-transform: initial;
}

.pure-menu-link {
    color: #AAA;
}

.pure-menu-item {
    color: #AAA;
}

.tag {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}

.pure-table {
    width: 100%;
}

.list-even {
    background: #444;
    color: #AAA;
    text-align: center;
}

.list-odd {
    background: #333;
    color: #AAA;
    text-align: center;
}

.pure-table {
    border: 0;
}

.search-bar {
    width: 600px;
    height: 30px;
    border: 1px solid #222;
    position: absolute;
    left: 90px;
    background: #444;
    color: #AAA;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.text-content {
    width: 600px;
    min-height: 600px;
    border: 1px solid #222;
    position: absolute;
    left: 90px;
    top: 100px;
    border-radius: 15px;
    background: #444;
    color: #AAA;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
}

.pure-form input:not([type]) {
    border: 1px solid #000;
    box-shadow: none;
}

.pure-form textarea:not([type]) {
    border: 1px solid #000;
    box-shadow: none;
    resize: none;
}

.custom-theme {
    color: #AAA;
    background: #333;
    width: 180px;
    height: 35px;
    border: 1px solid #222;
}

.modal {
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #333;
  padding: 30px;
  width: 470px;
  height: 300px;
  border-radius: 4px;
  overflow-y: visible;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #FFF;
  box-sizing: border-box;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #AAA;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.color-picker {
    text-indent: -9999em;
    border: 1px solid black;
}