{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div id="left-menu" class="content">
        <div class="pure-menu">
            <div style="height: 30px"></div>
            <span class="pure-menu-heading"></span>
            <ul id="subjectlist" class="pure-menu-list">
                <li class="pure-menu-item centered">
                    <button class="primary-button pure-button" style="background: transparent">
                        <i class="fas fa-search" style="color: #FFF"></i>
                    </button>
                    <button class="primary-button pure-button" style="background: transparent">
                        <i class="fas fa-cogs"></i>
                    </button>
                </li>
                <li class="pure-menu-heading">
                    <div style="height: 20px"></div>
                    Sujets
                </li>
            </ul>
            <div class="centered">
                <button class="primary-button pure-button" data-micromodal-trigger="modal-1" style="background: transparent">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="right-menu" class="content">
        <div class="pure-menu">
        <div style="height: 20px"></div>
        <span class="pure-menu-heading centered"></span>
            <ul id="templatelist" class="pure-menu-list">
                <li class="pure-menu-item centered">
                    <button class="primary-button pure-button" style="min-width: 100px; margin-bottom: 10px;">Aujourd'hui</button>
                </li>
                <li class="pure-menu-item centered">
                    <a href="#" class="pure-menu-link">2014</a>
                </li>
                <li class="pure-menu-item centered">
                    <a href="#" class="pure-menu-link">2015</a>
                </li>
                <li class="pure-menu-item centered">
                    <a href="#" class="pure-menu-link">2016</a>
                </li>
                <li class="pure-menu-item centered">
                    <a href="#" class="pure-menu-link">2017</a>
                </li>
                <li class="pure-menu-item centered">
                    <a href="#" class="pure-menu-link">2018</a>
                </li>
                <li class="pure-menu-heading">
                    <div style="height: 20px"></div>
                    Templates
                </li>
            </ul>
            <div style="height: 30px"></div>
            <button class="primary-button pure-button" style="margin-left: 300px" onclick="ajouter_subject()" data-micromodal-close>Ajouter</button>

        </div>
    </div>
    <div id="content" class="content">
        <div style="height: 45px"></div>
        <form class="pure-form">
            <input class="search-bar" />
            <textarea class="text-content" wrap="hard"></textarea>
        </form>
    </div>
    <div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
                <header class="modal__header">
                    <h2 class="modal__title" id="modal-1-title">
                        Ajout de sujet
                    </h2>
                </header>
                <main class="modal__content" id="modal-1-content">
                    <form class="pure-form">
                        <button id="ajouter_couleur" class="color-picker pure-button" style="width: 30px; height: 30px; background-color: rgb(255, 255, 255);" type="button">#FFFFFF</button>
                        <input id="ajouter_sujet" class="search-bar" style="width: 360px; left: inherit; border: 1px solid #000; box-shadow: none; margin-left: 3px"/>
                        <div style="height: 30px"></div>
                        <button class="primary-button pure-button" style="margin-left: 300px" onclick="ajouter_subject()" data-micromodal-close>Ajouter</button>
                    </form>
                </main>
                <footer class="modal__footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="contextmenu_subject" id="contextsujet" style="display: none">
        <div id="to_delete_subject" style="display: none"></div>
        <ul class="pure-menu-list">
            <li id="delete_subject" class="pure-menu-item centered" style="background: #555; border: 2px solid black">
                <a href="#" class="pure-menu-link">Supprimer</a>
            </li>
        </ul>
    </div>
    <div class="contextmenu_template" id="contexttemplate" style="display: none">
        <div id="to_delete_template" style="display: none"></div>
        <ul class="pure-menu-list">
            <li id="delete_templatew" class="pure-menu-item centered" style="background: #555; border: 2px solid black">
                <a href="#" class="pure-menu-link">Supprimer</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        function add_subject(subject_list, subject) {
            subject_list.innerHTML += '<li class="pure-menu-item">' +
                    '<a href="#" class="pure-menu-link deletable_subject">' +
                        '<span class="tag" style="background: ' + subject.color + '"></span>' +
                        subject.subject +
                    '</a>' +
               '</li>';
        }

        function add_template(template_list, template) {
            template_list.innerHTML += '<li class="pure-menu-item">' +
                    '<a href="#" class="pure-menu-link deletable_template">' +
                        '<span class="tag" style="background: ' + template.color + '"></span>' +
                        template.name +
                    '</a>' +
               '</li>';
        }

        function ajouter_subject(e) {
            let data = {
                subject: $('#ajouter_sujet').val(),
                color: $('#ajouter_couleur').text()
            };

            if (data.subject !== undefined && data.subject.trim() !== '') {
                $.post('/add_subject', data, function(r) {
                    if (r === 'OK')
                    {
                        add_subject($('#subjectlist')[0], data);
                        $(".deletable_subject").contextmenu(delete_context);
                    }
                    else
                    {
                        // TODO: AFFICHER UNE POPUP EXISTE DEJA
                    }
                });
            }
        }

        function delete_context(e)
        {
            let context = $('#contextsujet')[0];

            context.style.display = 'block';
            context.style.left = e.pageX + 'px';
            context.style.top = e.pageY + 'px';

            console.log(context);

            $('#to_delete_subject').text(e.target.text);
            e.preventDefault();
        }

        function delete_template(e)
        {
            let context = $('#contexttemplate')[0];

            context.style.display = 'block';
            context.style.left = e.pageX + 'px';
            context.style.top = e.pageY + 'px';

            $('#to_delete_template').text(e.target.text);
            e.preventDefault();
        }

        $(document).ready(function()
        {
            new Huebee('.color-picker', {
                notation: 'hex',
                saturations: 1,
            });

            $('#delete_subject').on('click', function() {
                let to_del = $('#to_delete_subject').text();

                $.post('/delete_subject', { 'subject': to_del}, function(data) {
                    // TODO: ENLEVER CA !!
                    // TODO: AFFICHER UN MESSAGE SI RATE (SI ASSIGNE A UN DOCUMENT!)
                    location.reload();
                });
            });

            $('#delete_template').on('click', function() {
                let to_del = $('#to_delete_template').text();

                $.post('/delete_template', { 'template': to_del}, function(data) {
                    // TODO: ENLEVER CA !!
                    // TODO: AFFICHER UN MESSAGE SI RATE (SI ASSIGNE A UN DOCUMENT!)
                    location.reload();
                });
            });

            $('body').on('click', function() {
                let context = $('#contextsujet')[0];
                context.style.display = 'none';
            });

            $.post('/get_subjects', null, function(data)
            {
                let json = JSON.parse(data);
                let subject_list = $('#subjectlist')[0];

                for(let i = 0; i < json.length; i++)
                    add_subject(subject_list, json[i]);

                $(".deletable_subject").contextmenu(delete_context);

                $.post('/get_templates', null, function(data) {
                    json = JSON.parse(data);
                    let template_list = $('#templatelist')[0];

                    for(let i = 0; i < json.length; i++)
                        add_template(template_list, json[i]);

                    $(".deletable_template").contextmenu(delete_template);

                   /* $('body').contextmenu(function(e) {
                        e.preventDefault();
                    });*/

                    MicroModal.init();
                });

            });
        });
    </script>
{% endblock %}