{% extends 'base.html' %}

{% block header %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="left-menu">
        <div id="current_suid" style="display:none"></div>
        <div class="pure-menu" style="height: 100%">
            <div style="height: 75px"></div>
            <ul id="subjectlist" class="pure-menu-list">
                <!-- Populated dynamically -->
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="pure-menu pure-menu-horizontal" style="position: fixed; z-index: 1; background: rgb(10, 10, 10); width: 440px; padding-bottom: 15px">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <div class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 384 512" class="icon">
                            <path d="M381 387c4 4 4 10 0 14l-43 44c-2 2-5 3-8 3s-5-1-7-3l-84-86c-25 15-52 23-80 23C72 382 0 311 0 223S72 64 159 64s158 71 158 159c0 27-7 54-21 78zM159 126c-53 0-97 43-97 97s44 97 97 97 96-43 96-97-43-97-96-97z"></path>
                        </svg>
                    </div>
                    <input class="search" placeholder="Recherche..." />
                </li>
            </ul>
        </div>
        <div style="height: 75px"></div>
        <form class="pure-form" style="width: 100%;">
            <div class="table-wrapper">
                <table id="elementlist" class="table-style">
                    <!-- Populated dynamically -->
                </table>
            </div>
        </form>
        <div style="width: 440px; height: 110px; background: rgb(10, 10, 10); position: fixed; left: 121px; bottom: 0">
            <form class="pure-form" style="width: 100%;">
                <textarea class="text-content" placeholder="Nouveau titre..." wrap="hard"></textarea>
            </form>
        </div>
    </div>
    <div id="messages">
        <div style="height: 75px"></div>
        <form class="pure-form" style="width: 100%;">
            <div class="message-wrapper">
                <table id="messagelist" class="message-table">
                    <!-- Populated dynamically -->
                </table>
            </div>
        </form>
        <div style="width: calc(100% - 596px); max-width: 691px; height: 110px; background: rgb(10, 10, 10); position: fixed; left: 580px; bottom: 0">
            <form class="pure-form" style="width: 100%;">
                <textarea class="text-message" placeholder="Nouveau message..." wrap="hard"></textarea>
            </form>
        </div>
    </div>
    <div class="modal micromodal-slide" id="modal-create">
        <div class="modal_overlay" tabindex="-1">
            <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-create-title">
                <header class="modal_header">
                    <h2 class="modal_title" id="modal-create-title">
                        Ajout de sujet
                    </h2>
                </header>
                <main class="modal_content" id="modal-create-content">
                    <form class="pure-form">
                        <button id="ajouter_couleur" class="jscolor pure-button" style="width: 30px; height: 30px; background-color: rgb(255, 255, 255);" type="button" value="FFFFFF"></button>
                        <input id="ajouter_sujet" class="search-bar" style="width: 360px; left: inherit; border: 1px solid #000; box-shadow: none; margin-left: 3px"/>
                        <div style="height: 30px"></div>
                        <button class="primary-button pure-button" style="margin-left: 300px" onclick="ajouter_subject()">Ajouter</button>
                    </form>
                </main>
                <footer class="modal_footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide" id="modal-edit">
        <div class="modal_overlay" tabindex="-1">
            <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-edit-title">
                <header class="modal_header">
                    <h2 class="modal_title" id="modal-edit-title">
                        Éditer sujet
                    </h2>
                </header>
                <main class="modal_content" id="modal-edit-content">
                    <form class="pure-form">
                        <button id="edit_couleur" class="jscolor pure-button" style="width: 30px; height: 30px; background-color: rgb(255, 255, 255);" value="FFFFFF" type="button"></button>
                        <input id="edit_sujet" class="search-bar" style="width: 360px; left: inherit; border: 1px solid #000; box-shadow: none; margin-left: 3px"/>
                        <div style="height: 30px"></div>
                        <button class="primary-button pure-button" style="margin-left: 300px" onclick="edit_subject()">Sauver</button>
                    </form>
                </main>
                <footer class="modal_footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide" id="modal-message">
        <div class="modal_overlay" tabindex="-1">
            <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-message-title">
                <header class="modal_header">
                    <h2 class="modal_title" id="modal-message-title">
                        Type de message
                    </h2>
                </header>
                <main class="modal_content">
                    <span id="modal-message-content">
                        Contenu du message
                    </span>
                    <div style="height: 70px"></div>
                    <button class="primary-button pure-button" style="margin-left: 300px" onclick="close_modal('modal-message')">Fermer</button>
                </main>
                <footer class="modal_footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="contextmenu_subject" id="contextsujet" style="display: none">
        <div id="selected_subject" style="display: none"></div>
        <ul class="pure-menu-list" style="border: 1px solid #DDD;">
            <li id="edit_subject" class="pure-menu-item centered" style="background: rgb(26, 26, 27);">
                <a href="#" class="pure-menu-link" onclick="display_modal('modal-edit')">Éditer</a>
            </li>
            <li id="delete_subject" class="pure-menu-item centered" style="background: rgb(26, 26, 27);">
                <a href="#" class="pure-menu-link">Supprimer</a>
            </li>
        </ul>
    </div>
    <div class="contextmenu_subject" id="contextleftmenu" style="display: none">
        <ul class="pure-menu-list" style="border: 1px solid #DDD;">
            <li id="edit_subject" class="pure-menu-item centered" style="background: rgb(26, 26, 27)">
                <a href="#" class="pure-menu-link" onclick="display_modal('modal-create')">Ajouter</a>
            </li>
        </ul>
    </div>
{% endblock %}