{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div id="left-menu" class="content">
        <div style="height: 44px"></div>
        <div class="pure-menu" style="height: 100%">
            <div style="height: 20px"></div>
            <ul id="subjectlist" class="pure-menu-list">
                <!-- Populated dynamically -->
            </ul>
        </div>
    </div>
    <div id="content">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <div class="icon-search">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" viewBox="0 0 384 512" class="icon">
                            <path d="M381 387c4 4 4 10 0 14l-43 44c-2 2-5 3-8 3s-5-1-7-3l-84-86c-25 15-52 23-80 23C72 382 0 311 0 223S72 64 159 64s158 71 158 159c0 27-7 54-21 78zM159 126c-53 0-97 43-97 97s44 97 97 97 96-43 96-97-43-97-96-97z"></path>
                        </svg>
                    </div>
                    <input class="search" placeholder="Recherche..." />
                </li>
            </ul>
        </div>
        <div style="height: 45px"></div>
        <form class="pure-form" style="width: 100%">
            <div class="table-wrapper">
                <table class="table-style">
                    <tr>
                        <td class="date-odd">
                            <div class="date-style">
                                10.01
                                <br/>2010
                            </div>
                        </td>
                        <td>
                            <div class="title-style title-odd">
                               Un titre très très long pour tester parce que bon voilà, il faut tester tous les cas, eh? Encore un peu, on n'est toujours pas au bout de la case...
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="date-even">
                            <div class="date-style">
                                11.01
                                <br/>2010
                            </div>
                        </td>
                        <td>
                            <div class="title-style title-even">
                               J'ai demandé à la Lune
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="date-odd">
                            <div class="date-style">
                                11.01
                                <br/>2010
                            </div>
                        </td>
                        <td>
                            <div class="title-style title-odd">
                               Un titre très très long pour tester parce que bon voilà, il faut tester tous les cas, eh? Encore un peu, on n'est toujours pas au bout de la case...
                               Un titre très très long pour tester parce que bon voilà, il faut tester tous les cas, eh? Encore un peu, on n'est toujours pas au bout de la case...
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="position: absolute; width: 100%; height: 110px; background: #555; bottom: 0">
                <textarea class="text-content" placeholder="Nouveau titre..." wrap="hard"></textarea>
            </div>
        </form>
    </div>
    <div class="modal micromodal-slide" id="modal-create" aria-hidden="true">
        <div class="modal_overlay" tabindex="-1" data-micromodal-close>
            <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-create-title">
                <header class="modal_header">
                    <h2 class="modal_title" id="modal-create-title">
                        Ajout de sujet
                    </h2>
                </header>
                <main class="modal_content" id="modal-create-content">
                    <form class="pure-form">
                        <button id="ajouter_couleur" class="jscolor pure-button" style="width: 30px; height: 30px; background-color: rgb(255, 255, 255);" type="button">#FFFFFF</button>
                        <input id="ajouter_sujet" class="search-bar" style="width: 360px; left: inherit; border: 1px solid #000; box-shadow: none; margin-left: 3px"/>
                        <div style="height: 30px"></div>
                        <button class="primary-button pure-button" style="margin-left: 300px" onclick="ajouter_subject()" data-micromodal-close>Ajouter</button>
                    </form>
                </main>
                <footer class="modal_footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide" id="modal-edit" aria-hidden="true">
        <div class="modal_overlay" tabindex="-1" data-micromodal-close>
            <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-edit-title">
                <header class="modal_header">
                    <h2 class="modal_title" id="modal-edit-title">
                        Éditer sujet
                    </h2>
                </header>
                <main class="modal_content" id="modal-edit-content">
                    <form class="pure-form">
                        <button id="edit_couleur" class="jscolor pure-button" style="width: 30px; height: 30px; background-color: rgb(255, 255, 255);" type="button">#FFFFFF</button>
                        <input id="edit_sujet" class="search-bar" style="width: 360px; left: inherit; border: 1px solid #000; box-shadow: none; margin-left: 3px"/>
                        <div style="height: 30px"></div>
                        <button class="primary-button pure-button" style="margin-left: 300px" onclick="edit_subject()" data-micromodal-close>Sauver</button>
                    </form>
                </main>
                <footer class="modal_footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="modal micromodal-slide" id="modal-message" aria-hidden="true">
        <div class="modal_overlay" tabindex="-1" data-micromodal-close>
            <div class="modal_container" role="dialog" aria-modal="true" aria-labelledby="modal-message-title">
                <header class="modal_header">
                    <h2 class="modal_title" id="modal-message-title">
                        Type de message
                    </h2>
                </header>
                <main class="modal_content">
                    <span id="modal-message-content">
                        Contenu du message
                    </span>
                    <div style="height: 70px"></div>
                    <button class="primary-button pure-button" style="margin-left: 300px" data-micromodal-close>Fermer</button>
                </main>
                <footer class="modal_footer">
                </footer>
            </div>
        </div>
    </div>
    <div class="contextmenu_subject" id="contextsujet" style="display: none">
        <div id="to_delete_subject" style="display: none"></div>
        <ul class="pure-menu-list" style="border: 1px solid #DDD;">
            <li id="edit_subject" class="pure-menu-item centered" style="background: rgb(26, 26, 27);">
                <a href="#" class="pure-menu-link" data-micromodal-trigger="modal-edit">Éditer</a>
            </li>
            <li id="delete_subject" class="pure-menu-item centered" style="background: rgb(26, 26, 27);">
                <a href="#" class="pure-menu-link">Supprimer</a>
            </li>
        </ul>
    </div>
    <div class="contextmenu_subject" id="contextleftmenu" style="display: none">
        <ul class="pure-menu-list" style="border: 1px solid #DDD;">
            <li id="edit_subject" class="pure-menu-item centered" style="background: rgb(26, 26, 27)">
                <a href="#" class="pure-menu-link" data-micromodal-trigger="modal-create">Ajouter</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        function add_subject(subject_list, subject) {
            subject_list.innerHTML += '<li class="pure-menu-item">' +
                    '<a href="#" id="' + subject.uid + '" class="pure-menu-link deletable_subject" style="color: #' + subject.color + '">' +
                        subject.subject +
                    '</a>' +
               '</li>';
        }

        function ajouter_subject(e) {
            let data = {
                subject: $('#ajouter_sujet').val(),
                color: $('#ajouter_couleur').text()
            };

            if (data.subject !== undefined && data.subject.trim() !== '') {
                $.post('/add_subject', data, function(r) {
                    data.uid = r;
                    add_subject($('#subjectlist')[0], data);
                    $(".deletable_subject").contextmenu(delete_context);
                });
            }
        }

        function delete_context(e)
        {
            console.log('Delete context on: ' + e.target.id);

            let context = $('#contextsujet')[0];
            $('#contextleftmenu')[0].style.display = 'none';

            context.style.display = 'block';
            context.style.left = e.pageX + 'px';
            context.style.top = e.pageY + 'px';

            if (e.target.id === '0')
                $('#delete_subject')[0].style.display = 'none';
            else
                $('#delete_subject')[0].style.display = 'block';

            $('#to_delete_subject').text(e.target.id);
            e.preventDefault();
        }

        function add_context(e)
        {
            if (e.target.id !== '')
                return;

            console.log('Ajouter context on: ' + e.target.id);

            let context = $('#contextleftmenu')[0];
            $('#contextsujet')[0].style.display = 'none';

            context.style.display = 'block';
            context.style.left = e.pageX + 'px';
            context.style.top = e.pageY + 'px';

            e.preventDefault();
        }

        $(document).ready(function()
        {
            var textarea = document.querySelector('textarea');

            textarea.addEventListener('keydown', function (e) {
                if (e.keyCode === 13)
                {
                    if (!e.shiftKey)
                    {
                        e.preventDefault();
                        alert('TODO: Sumbit to server');
                    }
                }
            }
);

            $('#edit_subject').on('click', function() {
                let to_edit = $('#to_edits_subject').text();

                // TODO!
            });

            $('#delete_subject').on('click', function() {
                let to_del = $('#to_delete_subject').text();

                $.post('/delete_subject', { 'uid': to_del}, function(data) {
                    if (data === 'NOT_EXIST')
                    {
                        $('#modal-message-title').text('Erreur');
                        $('#modal-message-content').text("Ce sujet n'existe pas, il a peut-être été édité dans un autre tab");
                        MicroModal.show('modal-message');
                    }
                    else if(data === 'ASSIGNED')
                    {
                        $('#modal-message-title').text('Erreur');
                        $('#modal-message-content').text("Ce sujet est encore assigné, veuillez le vider d'abord");
                        MicroModal.show('modal-message');
                    }
                    else
                    {
                        var to_delete = document.getElementById(to_del).parentElement;
                        to_delete.parentElement.removeChild(to_delete);
                    }
                });
            });

            $('body').on('click', function() {
                $('#contextsujet')[0].style.display = 'none';
                $('#contextleftmenu')[0].style.display = 'none';
            });

            $.post('/get_subjects', null, function(data)
            {
                let json = JSON.parse(data);
                let subject_list = $('#subjectlist')[0];

                add_subject(subject_list, {
                    uid: "0",
                    subject: 'Journal',
                    color: '4174c1'
                });

                for(let i = 0; i < json.length; i++)
                    add_subject(subject_list, json[i]);

                $(".deletable_subject").contextmenu(delete_context);
                $("#left-menu").contextmenu(add_context);

                MicroModal.init();
            });
        });
    </script>
{% endblock %}